<h3 class="widget-title">最近文章</h3>
<ul class="widget-list">
    {{ $postNumber := "10" }}
    {{ if .Site.Params.recentPostNumber }}
        {{ $postNumber = .Site.Params.recentPostNumber }}
    {{ end }}
    {{ range first $postNumber (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page") }}
    <li>
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a><br>
        <date class="post-meta meta-date" style="text-align: right">
           {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
        </date>
    </li>
    {{ end }}
</ul>